.mainImg {
  width: 100%;
  height: 90%;
  border-radius: 0.5rem;
}

.mainImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 0.5rem;
}

.smallImgs {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.smallImge {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.btns {
  border: 2px solid rgb(22, 33, 22);
  background-color: white;
}
.btns:hover {
  background-color: rgb(31, 45, 31);
  color: white;
}

.stars {
  color: green;
}

.quantity {
  background-color: rgb(229, 224, 224);
  border-radius: 20px;
  margin-bottom: 1rem;
  align-items: center;
}

.quantityBtn {
  outline: none;
  border: none;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgb(98, 143, 98);
  background-color: rgb(229, 224, 224);
  border-radius: 20px;
}

.number {
  color: rgb(98, 143, 98);
}
