<div class="mt-5 ms-3">
  <div class="row">
    <div class="col-5 h-75">
      <div
        id="carouselExampleControlsNoTouching"
        class="carousel slide"
        data-bs-touch="false"
      >
        <div class="carousel-inner">
          @for (img of productDetails.images; track $index) {
          <div class="carousel-item active">
            <img [src]="img" class="d-block w-100 mainImage" alt="..." />
          </div>
          }
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="smallImgs">
        @for (item of productDetails.images; track $index) {
        <div class="w-25">
          <img [src]="item" alt="" class="smallImge" />
        </div>
        }
      </div>
    </div>
    <div class="col-7">
      <div class="ms-4 mb-5">
        <p class="fs-1 fw-bold">{{ productDetails.title }}</p>
        <p class="text-secondary">{{ productDetails.description }}</p>
        <div>
          <div class="stars">
            @for (item of stars; track $index) {
            <i class="fa-solid fa-star"></i>} @if(starsLength>stars.length){
            <i class="fa-solid fa-star-half-stroke"></i>
            } ({{ productDetails.rating }})
          </div>

          <hr />
          <div>
            <p class="fw-bold fs-3">
              {{ productDetails.price | currency }} or 99.99/month
            </p>
            <p class="text-secondary">
              suggested payments with 6 months spetial financing
            </p>
          </div>
          <hr />
          <div>
            @if (productDetails.stock == 0) {
            <button class="btn btn-danger rounded-5">Out of stock</button>
            } @else {
            <button class="btn btn-success rounded-5">In stock</button>
            }
            <p class="text-secondary ms-2 mt-2">More Information</p>
            <div class="d-flex justify-content-between w-25">
              <button
                class="btn btn-outline-secondary rounded-4 me-5 px-4 fw-bolder"
                disabled
              >
                {{ productDetails.category }}
              </button>
              @if(productDetails.brand){
              <button
                class="btn btn-outline-secondary rounded-5 px-4 fw-bolder"
                disabled
              >
                {{ productDetails.brand }}
              </button>
              }
            </div>
          </div>
          <hr />
          <div class="w-75">
            <div class="d-flex justify-content-between w-75">
              <span class="quantity w-25 d-flex justify-content-between">
                <button class="quantityBtn">-</button>
                <span class="number">1</span>
                <button class="quantityBtn">+</button>
              </span>
              <p class="text-secondary">
                only
                <span style="color: orange"
                  >{{ productDetails.stock }} item</span
                >
                left don't miss it
              </p>
            </div>

            <div class="d-flex justify-content-between w-75">
              <button class="rounded-4 px-5 py-1 btns">Buy Now</button>
              <button class="rounded-4 px-5 py-1 btns">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
