<div class="container">
  <div class="title">Cart</div>

  <table class="cart-table">
    <thead>
      <tr class="head">
        <th class="img"></th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="img-cell">
          <img src="assets/login.jpg" alt="Product Image" />
        </td>
        <td class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
          aspernatur tenetur vitae iure aliquid, libero explicabo itaque? Saepe
          itaque ea, repellendus ipsa consequuntur sit in facilis expedita
          dolorum placeat eligendi!
        </td>
        <td class="quantity-cell">
          <div class="quantity">
            <button class="quantityBtn">-</button>
            <span class="number">1</span>
            <button class="quantityBtn">+</button>
          </div>
        </td>
        <td class="remove"><i class="fa-solid fa-xmark"></i></td>
        <td class="price">233$</td>
      </tr>
    </tbody>
  </table>
</div>
