<nav class="navbar bg-body-secondary cursorr">
  <div class="container-fluid">
    <a
      class="navbar-brand fs-3 fw-bold"
      routerLink="/products"
      routerLinkActive="text-success-emphasis"
      >Product App</a
    >
    <div class="me-2 d-flex">
      <a
        class="me-2 text-decoration-none text-dark"
        routerLink="/register"
        routerLinkActive="text-success-emphasis"
        >Register</a
      >
      <a
        class="me-2 pointer-event text-decoration-none text-dark"
        routerLink="/login"
        routerLinkActive="text-success-emphasis"
        >Login</a
      >
      <div routerLink="/cart" routerLinkActive="text-success-emphasis">
        <i
          class="fa-solid fa-cart-shopping me-2 text-center position-relative fs-5"
        >
          @if(counter>0){
          <span
            class="counter position-absolute top-0 start-100 translate-middle bg-danger border border-light rounded-circle p-1"
            >{{ counter }}
          </span>
          }
        </i>
      </div>
    </div>
  </div>
</nav>
